<div class="rounded-md border border-slate-800 h-full p-5 bg-slate-900 bg-opacity-30 lg:flex-row flex flex-col justify-evenly items-center gap-5 m-[5vh] mb-2">
    <div class="cursor-pointer flex flex-col justify-center items-center w-[25vh]">
        <img class="max-w-[18vh] lg:min-w-[25vh]" src="../../../../assets/mainPics/logo.png">
        <span class="text-center cursor-pointer">Sri Lakshmi Padmavathi sametha Venkateshwara Swamy</span>
    </div>
    <div class="flex flex-col gap-5">
        <div class="flex gap-[2vh] justify-center">
            <div class="cursor-pointer hover:text-amber-500">Home</div>
            <div class="cursor-pointer hover:text-amber-500">Media</div>
            <div class="cursor-pointer hover:text-amber-500">About</div>
            <div class="cursor-pointer hover:text-amber-500">Locate</div>
        </div>
        <hr>
        <div class="flex flex-col gap-2 m-2">
            <div class="flex gap-5 justify-center items-center">
                <a href="https://maps.app.goo.gl/WUYWGGo9E2Fqwz656" target="_blank">

                    <div class="w-[10vw] lg:h-[5vh] lg:w-[5vh] cursor-pointer rounded-xl bg-gradient-to-br from-blue-950 via-green-950 to-yellow-950">
                        <img class="w-[10vw] lg:h-[5vh] lg:w-[5vh] scale-75" src="../../../../assets/socialMedia/maps.png">
                    </div>
                </a>
                <img class="w-[10vw] lg:h-[5vh] lg:w-[5vh] cursor-pointer rounded-xl" src="../../../../assets/socialMedia/facebook.png">
                <img class="w-[10vw] lg:h-[5vh] lg:w-[5vh] cursor-pointer" src="../../../../assets/socialMedia/whatsapp.png">
                <img class="w-[10vw] lg:h-[5vh] lg:w-[5vh] cursor-pointer" src="../../../../assets/socialMedia/instagram.png">
                <img class="w-[10vw] lg:h-[5vh] lg:w-[5vh] cursor-pointer" src="../../../../assets/socialMedia/youtube.png">
            </div>
        </div>
    </div>
</div>
<span class="flex justify-end items-center text-sm mr-[5vh] text-[#FFA500]">Designed & developed by Geetha Dushyanth <img class="h-4 flex justify-center items-center" src="../../../../assets/socialMedia/heart.png"></span>
<div class="h-5 bg-repeat-x mb-0" style="background-image: url('../../../../assets/mainPics/headerFlowers.svg'); background-size: 150px"></div>